/* Estilos Generales */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
}

button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 20px; /* Botones redondeados */
  cursor: pointer;
  margin: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  margin: 10px 0;
}

section {
  margin: 20px;
}

input[type='text'],
input[type='number'] {
  padding: 8px;
  margin-right: 10px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px; /* Inputs redondeados */
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 80%;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

table th {
  background-color: #333;
  color: white;
}

/* Estilo para el botón de "Iniciar Partida" */
.start-game-button {
  background-color: #ff9800;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 25px; /* Más redondeado */
  margin-top: 20px;
}

.start-game-button:hover {
  background-color: #e68a00;
}